
<%= form_for @test_mode do |t| %>
  <table class="table table-striped">
    <tr>
      <td>
        <%=t.label :law_name,'法規:'%>
      </td>

      <td>
        <!-- select_tag -->
        <%= t.select :law_name ,
          options_for_select(['FCC','CE','EMC','NCC','C-TICK','IC','JR','WorldWide'],
          selected: t.object.law_name), class:"dropdown-toggle" %>
      </td>
      
  
    </tr>
    <tr>
      <td>
        <%=t.label :expected_date_of_delivery,'預計發證日'%>
      </td>
      <td>
        <%=t.date_field :expected_date_of_delivery,class:'form-control form_input'%>
      </td>
    </tr>
    </td>

    <%=t.text_field :project_id,value:@project.id,class:'form-control form_input',style:"display:none"%>

  </table>
  <h3>測試項目</h3>
  <div data-controller="test-item-form">
    <template data-test-item-form-target="template">
      <%= t.fields_for :test_items,TestItem.new,child_index:"NEW_RECORD" do |item| %>
      <%=render "test_item" ,item: item%>
      <%end%>
    </template> 


    <%= t.fields_for :test_items do |item| %>
      <%=render "test_item" ,item: item%>
    <%end%>

    <hr>
    <div data-test-item-form-target="link">
      <%=link_to "新增測試項目","#",class:'btn btn-success',"data-action":'click->test-item-form#add_item'%>
    </div>
  
  </div>
  <div class="row">
    <div class="col-12">
      <%if @test_mode.try(:errors)%>
        <ul style="list-style:none; color:red;">
          <% @test_mode.errors.full_messages.each do |e|%>
            <li>
              <%=e%>
            </li>
            <%end%>
        </ul>
        <%end%>

    </div>
    <div class="col-9"></div>
    <%=t.submit  "更新",class:"btn btn-success col-2" %>
    <%end%>
