<table  class="table table-striped">
  <tr>
     <td><%=item.label :test_name,'法規:'%></td>

  <td>
      <%= item.select(:test_name) do %>
        <%country=['966','TH','Fully','FD','RSE','TPC','DFS','Adaptivity','EMI','EMS','EP','PLC','Special']%>
          <% country.each do |c| %>
            <%= content_tag(:option, c, value: c) %>
          <% end %>
      <% end %>
  </td>
 </tr>
  <td>
    <tr>
      <td><%=item.label :expected_date_of_delivery,'預計完成日'%></td>
      <td><%=item.date_field :expected_date_of_delivery,class:'form-control form_input'%></td>
    </tr>
  </td>
  <td>   
    <tr>
        <td><%=item.label :status,'狀態:'%></td>
        <td>
        <%= item.radio_button(:status, "未完成",:checked => true) %>
        <%= item.label(:status_no, "未完成") %>
        <%= item.radio_button(:status, "完成") %>
        <%= item.label(:status_ok, "完成") %>  
        <%= item.radio_button(:status, "pending") %>
        <%= item.label(:status_ok, "pending") %>
      
        </td>                         
    </tr>
  </td>

  <%=item.text_field :test_mode_id,value:@test_mode.id,class:'form-control form_input',style:"display:none"%>
</table>