<div class="row">
  <div class="col-2" style="height:100vh">
    <div class="row">
      
        <div class=" alert alert-primary col-12" role="alert">
          <%=link_to "返回檔案" ,edit_project_path(@project),class:"nav-link"%>
      </div>
      <%if @test_item_list %>
        <%@test_item_list.each do |l|%>
          <div class="alert alert-primary col-12" role="alert">
            <%=link_to " #{l.test_name}" , edit_test_item_path(l,@page_id) ,class:"nav-link"%>
          </div>
          <%end%>
            <%end%>
    </div>
  </div>

  <div class="col-8">
    <div class="row">
      <div class="col-12 ">
        <h4 id="Info">測試法規</h4>
        <h3>
          <%="案號：#{@project.project_number}"%>
        </h3>
        <%=render "form" ,test_mode: @test_mode%>
      </div>
    </div>
    <div class="col-12 "></div>
    <!-- 顯示留言 -->
        <div class="col-12 p-3">
          <%=form_for @comment ,url:test_mode_comments_path(@test_mode),remote: true do |c|%>
            <%=c.text_area :content,class:"form-control" %>
              <%=c.submit :留言,class:"btn btn-success"%>
                <%end%>
                  <hr>
                  <%if @comments%>
                    <ul class="comments">
                      <%@comments.each do |c|%>
                        <%= render "./comments/comment" ,comment:c%>
                          <%end%>
                    </ul>
                    <%end%>
      
    </div>
  </div>


</div>