<div class="row">
      <div class="col-2">
            <div class="row">
              <div class=" alert alert-primary col-12" role="alert"> 
                <%=link_to "返回檔案",edit_test_mode_path(@page_id),class:"nav-link"%>
              </div>
            </div>
      </div>
      <div class="col-6">
            <h4 id="Info">測試法規: <%=@test_item.test_name%></h4>
            <%= form_for @test_item do |t| %>
                  <table class="table table-striped">
                        <tr>
                              <td>
                                <%=t.label :law_name,'法規:'%> <%=@test_item.test_name%>
                              </td>
                              <td>
                                <!-- select_tag -->
                                <%= t.select :test_name ,
                                  options_for_select(['966','TH','Fully','FD','RSE','TPC','DFS','Adaptivity','EMI','EMS','EP','PLC','Special'], 
                                  selected: t.object.test_name),
                                  class:"dropdown-toggle" %>
                              </td>
                            
                        </tr>
                        <tr>
                              <td>
                                <%=t.label :expected_date_of_delivery,'預計發證日'%>
                              </td>
                              <td>
                                <%=t.date_field :expected_date_of_delivery,class:'form-control form_input'%>
                              </td>

                        </tr>
                        <tr>
                              <td>狀態</td>
                              <td>
                                    <%= t.radio_button(:status, "未完成",:checked => true) %>
                                    <%= t.label(:status_no, "未完成") %>
                                    <%= t.radio_button(:status, "完成") %>
                                    <%= t.label(:status_ok, "完成") %>  
                                    <%= t.radio_button(:status, "pending") %>
                                    <%= t.label(:status_ok, "pending") %>  
                              </td>
                              </td>
                        </tr>
                        <%=t.text_field :project_id,value:@project.id,style:"display:none"%>
                  </table>
                  <div class="row">
                        <div class="col-12">
                              <%if @test_item.try(:errors)%>
                                <ul style="list-style:none; color:red;">
                                  <% @test_item.errors.full_messages.each do |e|%>
                                    <li><%=e%></li>
                                  <%end%>
                                </ul>
                              <%end%>

                        </div>
                        <div class="col-8"></div>
                        <%=t.submit :更新, class:"btn btn-success col-2" %>
                  </div>
                  <hr>
                  <%end%>
                        <%=form_for @comment ,url:test_item_comments_path(@test_item),remote: true do |c|%>
                          <%=c.text_area :content,class:"form-control" %>
                          <%=c.submit :留言,class:"btn btn-success"%>
                        <%end%>
                        <hr>
                        <%if @comments%>
                          <ul class="comments">
                            <%@comments.each do |c|%>
                              <%= render "./comments/comment" ,comment:c%>
                            <%end%>
                          </ul>
                        <%end%>
      </div>


</div>