<h4 id="country_fcc">FCC</h4>
<table  class="table table-striped">
  <tbody>
 
    <tr>
        <td><h4>測試狀態</h4></td>
        <td><h4>測試項目</h4></td>
        <td><h4>完成日期</h4></td>
   </tr>
    <tr>
      <td><%= form.check_box :Fcc_966_status%><span>測試</span></td>
      <td><%=form.label :Fcc_966,'966'%></td>
      <td><%=form.date_field :Fcc_966_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :Fcc_TH_status%><span>測試</span></td>
        <td><%=form.label :Fcc_TH,'TH'%></td>
        <td><%=form.date_field :Fcc_TH_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :Fcc_FD_status%><span>測試</span></td>
        <td><%=form.label :Fcc_FD,'FD'%></td>
        <td><%=form.date_field :Fcc_FD_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :Fcc_DFS_status%><span>測試</span></td>
        <td><%=form.label :Fcc_DFS,'DFS'%></td>
        <td><%=form.date_field :Fcc_DFS_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :Fcc_TPC_status%><span>測試</span></td>
        <td><%=form.label :Fcc_TPC,'TPC'%></td>
        <td><%=form.date_field :Fcc_TPC_date%></td>
    </tr>
  </tbody>
</table>
<!-- CE -->
<hr>
<h4 id="country_ce">CE</h4>
<table  class="table table-striped">
  <tbody>
    <tr>
        <td><h4>測試狀態</h4></td>
        <td><h4>測試項目</h4></td>
        <td><h4>完成日期</h4></td>
   </tr>
    <tr>
      <td><%= form.check_box :ce_Fully_status%><span>測試</span></td>
      <td><%=form.label :ce_966,'966'%></td>
      <td><%=form.date_field :ce_966_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :ce_TH_status%><span>測試</span></td>
        <td><%=form.label :ce_TH,'TH'%></td>
        <td><%=form.date_field :ce_TH_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :ce_FD_status%><span>測試</span></td>
        <td><%=form.label :ce_Adaptivity,'Adaptivity'%></td>
        <td><%=form.date_field :ce_FD_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :ce_DFS_status%><span>測試</span></td>
        <td><%=form.label :ce_DFS,'DFS'%></td>
        <td><%=form.date_field :ce_DFS_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :ce_TPC_status%><span>測試</span></td>
        <td><%=form.label :ce_TPC,'TPC'%></td>
        <td><%=form.date_field :ce_TPC_date%></td>
    </tr>
  </tbody>
</table>      
<!-- EMC -->
<hr>
<h4 id="country_emc">EMC</h4>
<table  class="table table-striped">
  <tbody>

    <tr>
        <td><h4>測試狀態</h4></td>
        <td><h4>測試項目</h4></td>
        <td><h4>完成日期</h4></td>
   </tr>
    <tr>
      <td><%= form.check_box :emc_EMI_status%><span>測試</span></td>
      <td><%=form.label :emc_EMI,'EMI'%></td>
      <td><%=form.date_field :emc_EMI_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :emc_EMS_status%><span>測試</span></td>
        <td><%=form.label :emc_EMS,'EMS'%></td>
        <td><%=form.date_field :emc_EMS_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :emc_EP_status%><span>測試</span></td>
        <td><%=form.label :emc_EP,'EP'%></td>
        <td><%=form.date_field :emc_FD_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :emc_PLC_status%><span>測試</span></td>
        <td><%=form.label :emc_PLC,'PLC'%></td>
        <td><%=form.date_field :emc_DFS_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :emc_Special_status%><span>測試</span></td>
        <td><%=form.label :emc_Special,'Special'%></td>
        <td><%=form.date_field :emc_Special_date%></td>
    </tr>
  </tbody>
</table>

<!-- ncc -->
<hr>
<h4 id="country_ncc">NCC</h4>
<table  class="table table-striped">
  <tbody>
 
    <tr>
        <td><h4>測試狀態</h4></td>
        <td><h4>測試項目</h4></td>
        <td><h4>完成日期</h4></td>
   </tr>
    <tr>
      <td><%= form.check_box :ncc_966_status%><span>測試</span></td>
      <td><%=form.label :ncc_966,'966'%></td>
      <td><%=form.date_field :ncc_966_date%></td>
    </tr>
    <tr>
        <td><%= form.check_box :ncc_th_status%><span>測試</span></td>
        <td><%=form.label :ncc_th,'TH'%></td>
        <td><%=form.date_field :ncc_th_date%></td>
    </tr>
  </tbody>
</table>
<!-- ic -->
        <hr>
 <h4 id="country_ic">IC</h4>
 <table  class="table table-striped">
   <tbody>

     <tr>
         <td><h4>測試狀態</h4></td>
         <td><h4>測試項目</h4></td>
         <td><h4>完成日期</h4></td>
    </tr>
     <tr>
       <td><%= form.check_box :ic_th_status%><span>測試</span></td>
       <td><%=form.label :ic_966,'966'%></td>
       <td><%=form.date_field :ic_966_date%></td>
     </tr>
     <tr>
         <td><%= form.check_box :ic_dfs_status%><span>測試</span></td>
         <td><%=form.label :ic_th,'TH'%></td>
         <td><%=form.date_field :ic_th_date%></td>
     </tr>
   </tbody>
 </table>

  <!-- C-TICK -->
<hr>
<h4 id="country_ctick">C-TICK</h4>
<table  class="table table-striped">
<tbody>

  <tr>
      <td><h4>測試狀態</h4></td>
      <td><h4>測試項目</h4></td>
      <td><h4>完成日期</h4></td>
 </tr>
  <tr>
    <td><%= form.check_box :ctick_fully_status%><span>測試</span></td>
    <td><%=form.label :ctick_fully,'Fully'%></td>
    <td><%=form.date_field :ctick_fully_date%></td>
  </tr>
  <tr>
      <td><%= form.check_box :ctick_th_status%><span>測試</span></td>
      <td><%=form.label :ctick_th,'TH'%></td>
      <td><%=form.date_field :ctick_th_date%></td>
  </tr>
</tbody>
</table>                
           <!-- JR -->
<hr>
<h4 id="country_jr">JR</h4>
<table  class="table table-striped">
<tbody>

 <tr>
     <td><h4>測試狀態</h4></td>
     <td><h4>測試項目</h4></td>
     <td><h4>完成日期</h4></td>
</tr>
 <tr>
   <td><%= form.check_box :jr_th_status%><span>測試</span></td>
   <td><%=form.label :jr_th,'TH'%></td>
   <td><%=form.date_field :jr_th_date%></td>
 </tr>
 <tr>
     <td><%= form.check_box :jr_dfs_status%><span>測試</span></td>
     <td><%=form.label :jr_dfs,'DFS'%></td>
     <td><%=form.date_field :jr_dfs_date%></td>
 </tr>
</tbody>
</table>

<!-- worldwide -->
<hr>
<h4 id="country_worldwide">WorldWide</h4>
<table  class="table table-striped">
<tbody>

 <tr>
     <td><h4>測試狀態</h4></td>
     <td><h4>測試項目</h4></td>
     <td><h4>完成日期</h4></td>
</tr>
<tr>
 <td><%= form.check_box :worldwide_966_status%><span>測試</span></td>
 <td><%=form.label :worldwide_966,'966'%></td>
 <td><%=form.date_field :worldwide_966_date%></td>
</tr>
 <tr>
   <td><%= form.check_box :worldwide_th_status%><span>測試</span></td>
   <td><%=form.label :worldwide_th,'TH'%></td>
   <td><%=form.date_field :worldwide_th_date%></td>
 </tr>
 <tr>
     <td><%= form.check_box :worldwide_dfs_status%><span>測試</span></td>
     <td><%=form.label :worldwide_dfs,'DFS'%></td>
     <td><%=form.date_field :worldwide_dfs_date%></td>
 </tr>
</tbody>
</table>
<div class="row">
<div class="col-10" ></div>
<%=form.submit class:"btn btn-success col-1" %>
</div>